# use this for own files
/meta/*
/models/*
/output/*
/papers/*

# latex temps and output
/paper/*
!/paper/references.bib
!/paper/thesis.tex

# python temps
*.py[cod]

# vim temps
*.swp

# hypothesis cache
/.hypothesis/*
