attrs==17.3.0
boto==2.48.0
boto3==1.5.9
botocore==1.8.23
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
coverage==4.4.2
docutils==0.14
gensim==3.2.0
hypothesis==3.38.5
idna==2.6
ipalint==0.0.0
ipatok==0.1.1
jmespath==0.9.3
numpy==1.13.3
python-dateutil==2.6.1
requests==2.18.4
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
smart-open==1.5.6
urllib3==1.22
