appdirs==1.4.3
asjp==0.0.2
attrs==17.3.0
bleach==1.5.0
boto==2.48.0
boto3==1.5.9
botocore==1.8.23
bz2file==0.98
certifi==2017.11.5
chardet==3.0.4
clldutils==2.0.1
colorlog==3.1.0
configparser==3.5.0
coverage==4.4.2
csvw==1.0
cycler==0.10.0
decorator==4.1.2
docutils==0.14
editdistance==0.4
enum34==1.1.6
gensim==3.2.0
html5lib==0.9999999
hypothesis==3.38.5
idna==2.6
ipalint==0.0.0
ipatok==0.2.0
isodate==0.6.0
jmespath==0.9.3
Keras==2.1.2
lingpy==2.6.2
Markdown==2.6.11
matplotlib==2.1.2
networkx==2.0
numpy==1.13.3
pathlib2==2.3.0
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
requests==2.18.4
rfc3986==1.1.0
s3transfer==0.1.12
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
smart-open==1.5.6
tabulate==0.8.2
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
tqdm==4.19.5
uritemplate==3.0.0
urllib3==1.22
Werkzeug==0.15.3
